<% include _header %>

<div class="row containter">
    <div class="col-md-12">
        <form action="/cerebros/edit/<%= cerebros.id  %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" name="name" value="<%= zombie.name %>">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" name="email" value="<%= zombie.email %>">
            </div>
            <div class="form-group">
                <label for="">Tipo</label>
                <input type="text" class="form-control" name="type" value="<%= zombie.type %>">
            </div>
            
            <button class="btn btn-primary"> <i class="fas fa-skull"></i> Editar zombie
            </button>
        </form>

    </div>
</div>

<% include _footer %>