<% include _header %>

<div class="row containter">
    <div class="col-md-12">
        <form action="new" method="POST">
            <div class="form-group">
                <label for="">Iq</label>
                <input type="text" class="form-control" name="iq">
            </div>
            <div class="form-group">
                <label for="">Sabor</label>
                <input type="text" class="form-control" name="flavor">
            </div>
            <div class="form-group">
                <label for="">Descripcion</label>
                <input type="text" class="form-control" name="description">
            </div>
            <div class="form-group">
            
                <% if(mensajeError.length > 0){ %>
            <div class="alert alert-danger">
                <%= mensajeError %>
            </div>
            <% } %>
            <% if(mensajeExito.length > 0) {%>
                <div class="alert alert-danger">
                    <%= mensajeExito %>
                </div>
            <% } %>
            
            <button class="btn btn-primary"><i class="fas fa-brain"></i> Añadir cerebro
            </button>
        </form>
        
    </div>
</div>

<% include _footer %>