<% include _header%>
    
    <h2> Lista de cerebros </h2>
    
    <Table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">iq</th>
            <th scope="col">flavor</th>
            <th scope="col">description</th>
            <th>Acciones</th>
        </tr>
      </thead>

    <% 
      if(coleccion){
        coleccion.forEach(function(cerebros){
      %>
      <tbody>
          <td> <%= cerebros.iq %> </td>
          <td> <%= cerebros.flavor %> </td>
          <td> <%= cerebros.description %> </td>
          
          <td>
            <i class="fas fa-edit" title="Actualizar"></i>
            <i class="fas fa-trash" title="Eliminar"></i>

          </td>
      </tbody>
      <%
        });}
      %>
    </Table>  

<% include _footer %>