<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Buena Onda </title>
  </head>
  <body>
    <h1>Los alumnos del A no son muy buenos en AoEII</h1>
    <h2>Los alumnos del A son mas buenos que los del B</h2>
    <h3> En el grupo A van a pasar <%= numero %> alumnos </h3>
  </body>
</html>